<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Add Comment
    </h1>

    <form action="/insert_comment" method="post">
      <div class="form-group">
        <label for="comment">
          Comment
        </label>

        <textarea id="comment" name="comment" class="form-control" rows="3"></textarea>
      </div>

      <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= session[:user_id]%>">
      <input type="hidden" id="proposal_id" name="proposal_id" class="form-control">

      <button class="btn btn-block btn-outline-primary">
        Submit
      </button>
    </form>
  </div>
</div>
