<div class="row mb-3" style="margin-top: 1rem; margin-bottom: 2rem;">
  <div class="col-md-8 offset-md-2">
    <h1>
      Edit Comment
    </h1>

    <form action="/modify_comment/<%= @comment.id %>" method="post">
      <div class="form-group">
        <label for="comment">
          Comment
        </label>

        <textarea id="comment" name="comment" class="form-control" rows="2"><%= @comment.comment %></textarea>
      </div>

      <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= session[:user_id]%>">
      <input type="hidden" id="proposal_id" name="proposal_id" class="form-control" value="<%= @comment.proposal_id %>">

      <button class="btn btn-block btn-outline-primary">
        Submit
      </button>
    </form>
  </div>
</div>
