<div style="margin-top: 1rem; margin-bottom: 2rem;">
  <h1>Sign Up</h1>
</div>

<form action="/insert_user" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" name="form_name" class="form-control">
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input type="text" id="city" name="form_city" class="form-control">
  </div>
  <div class="form-group">
    <label for="state">State</label>
    <input type="text" id="state" name="form_state" class="form-control">
  </div>
  <div class="form-group">
    <label for="zipcode">ZIP Code</label>
    <input type="text" id="zipcode" name="form_zipcode" class="form-control">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="form_email" class="form-control">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" class="form-control">
  </div>
  <button type="submit" class="btn btn-block btn-outline-primary">Sign Up</button>
</form>
