<div style="margin-top: 1rem; margin-bottom: 2rem;">
  <h1>Sign In</h1>
</div>

<form class="form" action="/authenticate" method="post">
  <label for="email">Email</label>
  <input type="email" id="email" name="form_email">
  <label for="password">Password</label>
  <input type="password" id="password" name="password">
  <button class="submit">Sign In</button>
</form>
