<div style="margin-top: 1rem; margin-bottom: 2rem;">
  <h1>Sign In</h1>
</div>

<form class="form" action="/authenticate" method="post">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="form_email" class="form-control">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" class="form-control">
  </div>
  <button type="submit" class="btn btn-block btn-outline-primary">Sign In</button>
</form>
