<div style="margin-top: 1rem; margin-bottom: 2rem;">
  <h1>Create Proposal</h1>
</div>

<form action="/insert_proposal" method="post">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" class="form-control">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" name="description" class="form-control" rows="3"></textarea>
  </div>

  <input type="hidden" id="owned_by_user_id" name="owned_by_user_id" class="form-control" value="<%= session[:user_id] %>">
  <input type="hidden" id="status" name="status" class="form-control" value="draft">

  <div class="form-group">
    <label for="city">City</label>
    <input type="text" id="city" name="city" class="form-control" value="<%= User.where(:id => session[:user_id]).first.city %>">
  </div>

  <div class="form-group">
    <label for="state">State</label>
    <input type="text" id="state" name="state" class="form-control" value="<%= User.where(:id => session[:user_id]).first.state %>">
  </div>

  <div class="form-group">
    <label for="zipcode">ZIP</label>
    <input type="text" id="zipcode" name="zipcode" class="form-control" value="<%= User.where(:id => session[:user_id]).first.zipcode %>">
  </div>

  <button class="btn btn-block btn-outline-primary">
    Create
  </button>
</form>
