<div style="margin-top: 1rem;">
	<h1>Explore</h1>
	Explore, propose and manage public projects in your community.
	<br><a href="/sign_up"><button>Sign up</button></a> to create a proposal!
</div>

<div style="margin-top: 2rem;">
	<h2>Proposals</h2>
</div>

<div>
	<table class="table table-sm">
		<tr>
			<th>Proposal</th>
			<th>City</th>
			<th>State</th>
		</tr>

		<% Proposal.all.each do |this_proposal| %>

		<tr>
			<td><a href ="/proposals/<%= this_proposal.id %>"><%= this_proposal.name %></a></td>
			<td><%= this_proposal.city %></td>
			<td><%= this_proposal.state %></td>
		</tr>

		<% end %>
	</table>
</div>
